.btn {
  background-color: #F9F9F9;
  color: #627391;
  border-top: 2px solid #9cc7df;
  border-left: 2px solid #9cc7df;
  border-right: 2px solid #d25e4e;
  border-bottom: 2px solid #d25e4e; }

.btn:hover {
  background-color: #9cc7df;
  color: #4f6184; }

header {
  background-image: url("../images/stars.jpeg");
  background-color: #004E64;
  background-position: 58% 40%;
  background-repeat: no-repeat;
  background-size: 100%; }

.brand {
  height: 80px;
  margin-top: 42px; }

.logo-bar {
  background-color: #283f69;
  -moz-box-shadow: 2px -3px 23px 10px #F9F9F9;
  -webkit-box-shadow: 2px -3px 23px 10px #F9F9F9;
  box-shadow: 2px -3px 23px 10px #F9F9F9; }
  .logo-bar img {
    position: absolute;
    width: 306px;
    left: 327px;
    bottom: -36px; }
  .logo-bar .container {
    position: relative;
    height: 100%; }

.logo-bar .btn {
  float: right; }

footer {
  position: relative;
  background-color: #283f69;
  color: #F9F9F9; }
  footer h4 {
    margin-top: 158px;
    margin-left: 20px;
    float: left;
    padding: 0;
    font-size: 11px; }
  footer img {
    height: 30%;
    margin-top: 118px;
    margin-left: 20px;
    float: right; }

main .container {
  height: 100%;
  padding-top: 30px; }

.form {
  height: 50%;
  margin-top: 15px;
  margin-bottom: 15px; }

.person-select {
  padding: 0; }

.person-select .btn {
  height: 50%;
  width: 100%; }

.person-select .btn:first-child {
  border-bottom: 0; }

.time-date-select {
  border-left: none;
  cursor: default; }

.time-date-select:hover {
  background-color: #e9f2f7; }

.btn h2 {
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  transform: translateY(50%); }

#alien-container {
  position: relative;
  height: 240px; }

#alien {
  width: 100px;
  position: absolute;
  bottom: 20px;
  right: 50px; }

#speech-bubble {
  background-color: #9cc7df;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  height: 140px;
  padding: 10px;
  margin-top: 32px; }
  #speech-bubble p {
    font-size: 16px; }

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 40px;
  border-color: transparent transparent #9cc7df transparent;
  left: -39px;
  position: absolute;
  bottom: 13px; }

header {
  height: 180px; }

.logo-bar {
  height: 180px; }

main {
  height: 600px;
  background-color: #F9F9F9; }

footer {
  height: 180px; }

.container {
  width: 100%;
  height: 100%; }

.center-block {
  width: 960px; }

#timePicker {
  border: 1px solid black;
  padding-top: 10px; }

.form-inline {
  text-align: center; }

#fullDayContainer {
  margin-top: 20px;
  text-align: right; }

main .container {
  height: 100%;
  padding-top: 30px;
  overflow: hidden; }

.form {
  margin-top: 15px;
  margin-bottom: 15px; }

.person-select {
  padding: 0;
  z-index: 3; }

.person-select .btn {
  padding: 30px 0;
  width: 100%; }

.person-select .btn:first-child {
  border-bottom: 0; }

.date-select {
  height: 100%;
  border-left: none;
  border-right: none;
  position: absolute;
  right: 75%;
  padding: 15px;
  overflow: auto;
  background-color: #F9F9F9; }

#filters {
  overflow: hidden;
  position: relative; }

#filters .btn {
  font-size: 32px;
  padding: 50px 0;
  position: relative; }

#filters .btn[disabled] {
  opacity: 1; }

#visitor-container {
  z-index: 2; }

/*# sourceMappingURL=style.css.map */
