#user-details {
  background-color: $account-details-background-color;
  padding: 15px;
  overflow: auto;
  }

.bookings {
  background-color: $bookings-background-color;
  padding: 15px;
  margin-top: 15px;
  }

#user-details .btn {
  float: right;
}

#update-form-container {
  display: none;
}

.addUser {
  background-color: $account-details-background-color;
  padding: 15px;
  margin-top: 15px;
  overflow: auto;
}

.logo-bar .log-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.logo-bar .othr-btn {
  position: absolute;
  top: 0;
  left: 0;
}