.account-details {
  background-color: $account-details-background-color;
  padding: 15px;
  overflow: auto;
  }

.bookings {
  background-color: $bookings-background-color;
  padding: 15px;
  margin-top: 15px;
  }

.account-details .btn {
  float: right;
}