footer {

  position: relative;

  h4 {
    position: absolute;
    bottom: 3px;
    left: 5px;
    padding: 0;
    margin: 0;
    font-size: 11px;

  }
  background-color: $footer-bg;
  color: $footer-text;

  }