header {
  background-image: url("../images/stars.jpeg");
  background-color: #004E64;
  background-position: 58% 40%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.brand {
  height: 80px;
  margin-top: 18px;
}

.logo-bar {
  background-color: $logo-bar-bg;
}