header {
  background-image: url("../images/stars.jpeg");
  background-color: #004E64;
  background-position: 58% 40%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.brand {
  height: 80px;
  margin-top: 18px;
}

header .btn {
  float: right;
  margin-right: 145px;
}

.logo-bar {
  background-color: $logo-bar-bg;
  -moz-box-shadow: 1px -4px 10px $logo-bar-border;
  -webkit-box-shadow: 1px -4px 10px $logo-bar-border;
  box-shadow: 1px -4px 10px $logo-bar-border;
  border-top: 3px solid $logo-bar-border;
}