header {
  height: 118px;
}

.logo-bar {
  height: 150px;
}

main {
  height: 400px;
}

footer {
  height: 100px;
}

.container {
  width: 100%;
}

main {
  background-color: $main-bg;
}

.center-block {
  width: 820px;
}
