header {
  height: 180px;
}

.logo-bar {
  height: 180px;
}

main {
  height: 600px;
}

footer {
  height: 180px;
}

.container {
  width: 100%;
  height: 100%;
}

main {
  background-color: $main-bg;
}

.center-block {
  width: 960px;
}
