main .container {
  height: 100%;
  padding-top: 30px;
  overflow: hidden;
}

.form {
  margin-top: 15px;
  margin-bottom: 15px;
}

.person-select {
  padding: 0;
  z-index: 2;
}

.person-select .btn {
  width: 100%;
}

.person-select .btn:first-child {
  border-bottom: 0;
}

.date-select {
  border-left: none;
  border-right: none;
  position: relative;
  right: 75%;
  padding: 15px;
  //margin: auto;
}

#filters {
  overflow: hidden;
}

#filters .btn {
  font-size: 32px;
  padding: 50px 0;
}

#filters .btn[disabled] {
  opacity: 1;
}