main .container {
  height: 100%;
}

main {
  @include box-shadow($box-shadow);
}

.form {
  height: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.person-select {
  padding: 0;
}

.person-select .btn {
  height: 50%;
  width: 100%;
}

.person-select .btn:first-child {
  border-bottom: 0;
}

.date-select,
.time-select {
  background-color: $pop-out-color;
  border: 3px solid $button-outline;
}

.date-select {
  border-left: none;
  border-right: none;
}

.book-btn {
  margin-top: 29.5%;
  border-left: none;
}

.btn h2 {
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  transform: translateY(50%);
}