main .container {
  height: 100%;
}

.form {
  height: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.person-select {
  padding: 0;
}

.person-select .btn {
  height: 50%;
  width: 100%;
}

.person-select .btn:first-child {
  border-bottom: 0;
}

.date-select,
.time-select {
  border: 1px solid $orioles-orange;
}

.book-btn {
  margin-top: 29.5%;
}

.btn h2 {
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  transform: translateY(50%);
}