h2 {
  margin-bottom: 20px;
  text-align: center;
}

.logo-bar .container {
  text-align: center;
}

.logo-bar a {
  position: absolute;
  top: 0;
  right: 0;
}

.logo-bar h1 {
  margin-bottom: 20px;
  color: $page-title-color;
}