$dark-imperial-blue: #004E64;
$tyrian-purple: #47003D;
$orioles-orange: #F34213;
$charleston-green: #2D2A32;
$snow: #F9F9F9;

$image-default: $dark-imperial-blue;
$logo-bar-bg: $tyrian-purple;
$logo-bar-border: $snow;
$footer-bg: $tyrian-purple;
$main-bg: $snow;
$button-color: $dark-imperial-blue;
$button-outline: $charleston-green;
$button-text: $charleston-green;
$pop-out-color: $orioles-orange;