$charleston-green: #2D2A32;
$snow: #F9F9F9;
$deep-koamaru: #283f69;
$pale-cerulean: #9cc7df;
$jelly-bean: #d25e4e;
$dark-blue-gray: #627391;
$purple-navy: #4f6184;
$anti-flash-white: #e9f2f7;
$platinum: #e3e3e3;

$image-default: $deep-koamaru;
$logo-bar-bg: $deep-koamaru;

$box-shadow: $snow;
$box-shadow-alt: $deep-koamaru;

$footer-bg: $deep-koamaru;
$main-bg: $snow;

$button-bg: $snow;
$button-outline-tl: $pale-cerulean;
$button-outline-br: $jelly-bean;
$button-text: $dark-blue-gray;
$button-bg-hover: $pale-cerulean;
$button-text-hover: $purple-navy;

$date-time-hover: $anti-flash-white;

$footer-text: $snow;

$bubble-bg: $pale-cerulean;
$pop-out-color: $snow;

$page-title-color: #e3e3e3;

//account page variables
$account-details-background-color: $pale-cerulean;
$bookings-background-color: $jelly-bean;